.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.row_list {
  margin-top: 2rem;
  background-color: #282c34;
  list-style-type: none;
}

.row_item {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-color: #282c34;
}

.row_title {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.movies_container {
  background-color: #282c34;
  overflow-y: hidden;
  overflow-x: auto;
  height: 100%;
  width: 95vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

/* hides the scrollbar */
/* .movies_container::-webkit-scrollbar {
  display: none;
} */

.movie_item {
  background-color: #282c34;
  min-height: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.caption {
  display: block;
}

.movie_details_info {
  margin: 4rem;
  display: flex;
  flex-direction: row;
}

.details-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: solid;
  border-color: red; */
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fa-volume-up {
  display: flex;
  margin-right: 1rem;
}

.fa-cc {
  display: flex;
  margin-right: 1rem;
}
